{% extends "base.html" %}
{% block title %}CVR-API{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
<h1>Tilføj ny virksomhed:</h1>
  <form method="post" action="/traekdatacvr/" >
    <input type="text" name="CVR" required autofocus placeholder="Indtast CVR-nummer" pattern="^[0-9]{8,8}" title="8 tal" oninvalid="alert('CVR består af 8 tal...')" />
    <input type="submit" value="Tilføj">
  </form>
    <h1>Søg virksomhed:</h1>
  <form method="get" action="/visvirksomhed/">
    <input type="text" name="CVR" required  placeholder="Indtast CVR-nummer" pattern="^[0-9]{8,8}" title="8 tal" oninvalid="alert('CVR består af 8 tal...')" />
    <input type="submit" value="Søg">
  </form>
    <h1>Slet virksomhed:</h1>
    <form method="post" action="/sletvirksomhed/" onsubmit="return confirm('Er du sikker på at du vil slette virksomheden?')">
    <input type="text" name="CVR" required placeholder="Indtast CVR-nummer" pattern="^[0-9]{8,8}" title="8 tal" oninvalid="alert('CVR består af 8 tal...')" />
    <input type="submit" value="Slet">
  </form>
    <br />
    <a href="/allevirksomheder/"><button>Se alle virksomheder</button></a>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}



