{% extends "base.html" %}
{% block title %}Delete business{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
{% if result.vat is defined %}
    <p>The business "{{ result['name'] }}" with the VAT "{{ result['vat'] }}" has successfully been deleted!</p>
    <a href="/"><button>Back to the front page?</button></a>
{% elif result == 1 %}
    <p>No business found with that VAT!</p>
    <a href="/"><button>Back to the front page?</button></a>
{% else %}
    <h1>Enter VAT for deletion:</h1>
    <form method="post" action="/sletvirksomhed/" onsubmit="return confirm('Are you sure you want to delete this business??')">
    <input type="text" name="VAT" required placeholder="Enter VAT" pattern="^[0-9]{8,8}" title="8 digits" oninvalid="alert('VAT consists of 8 digits...')" />
    <input type="submit" value="Delete">
  </form>
    <br />
    <a href="/"><button>Back to the front page?</button></a>
{% endif %}
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
