{% extends "base.html" %}
{% block title %}Travelling CVR{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
<h1>Add a new business:</h1>
  <form class="form-inline" method="post" action="/new_business/" >
    <input class="form-control w-25 mr-sm-2" type="text" name="VAT" required autofocus placeholder="VAT or name" />
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Add</button>
  </form>
    <h1>Search for a business:</h1>
  <form class="form-inline" method="get" action="/search/">
    <input class="form-control w-25 mr-sm-2" type="text" name="search" required placeholder="Seach for..."/>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
    <h1>Delete a business:</h1>
    <form class="form-inline" method="post" action="/delete_business/" onsubmit="return confirm('Are you sure you want to delete this business??')">
    <input class="form-control w-25 mr-sm-2" type="text" name="VAT" required placeholder="Enter VAT" pattern="^[0-9]{8,8}" title="8 digits" oninvalid="alert('VAT consists of 8 digits...')" />
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Delete</button>
  </form>
    <br />
  <form action="/all_businesses">
    <select name="sort" id="sort" class="">
        <option selected="" value="name">Name</option>
        <option value="zipcode">Zipcode</option>
        <option value="status">Status</option>
        <option value="vat">VAT</option>
    </select>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">See all businesses</button>
    </form>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}



