{% extends "base.html" %}
{% block title %}Search results{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
{% if results is defined %}
    <div class="container">
        <h1>Search results for "{{ search }}"</h1>
        <table class="table">
                <thead>
                <tr>
                    <td scope="col">VAT</td>
                    <td scope="col">Business name</td>
                    <td scope="col">Zipcode</td>
                </tr>
                </thead>
        {% for result in results %}
                <tr>
                    <td><a href="/business/?VAT={{ result['vat'] }}"> {{ result['vat'] }}</a></td>
                    <td>{{ result['name'] }}</td>
                    <td>{{ result['zipcode'] }}</td>
                </tr>

        {% endfor %}
        </table>
        <a href="/">
            <button class="btn  btn-outline-primary my-2 my-sm-0">Back to the front page</button>
        </a>
    </div>
    </div>
{% elif results == 'search' %}
    <h1>Search for a business:</h1>
    <form method="get" action="/business/">
        <input type="text" name="VAT" required placeholder="VAT"/>
        <input type="submit" value="Search">
    </form>
{% elif err is defined %}
    <h1>Nothing found</h1>
    <p>{{ err }}</p>
    <h2>Search for a business:</h2>
    <form class="form-inline" method="get" action="/search/">
    <input class="form-control w-25 mr-sm-2" type="text" name="search" required placeholder="Seach for..."/>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
    <br/>
      <form action="/all_businesses" method="get">
      <h1>Show all businesses:</h1>
    <select class="form-control w-25 mr-sm-2" style="display: inline-block" name="sort" id="sort" class="">
        <option selected="" value="name">Name</option>
        <option value="zipcode">Zipcode</option>
        <option value="status">Status</option>
        <option value="vat">VAT</option>
    </select>
    <button style="display: inline-block" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Show all businesses</button>
    </form>
    <br />
    <a href="/">
        <button class="btn  btn-outline-primary my-2 my-sm-0">Back to the front page</button>
    </a>
{% else %}
    <h1>Search for a business:</h1>
    <form class="form-inline" method="get" action="/search/">
    <input class="form-control w-25 mr-sm-2" type="text" name="search" required placeholder="Seach for..."/>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
    <br />
    <a href="/">
        <button class="btn  btn-outline-primary my-2 my-sm-0">Back to the front page</button>
    </a>
{% endif %}
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}