{% extends "base.html" %}
{% block title %}Slet virksomhed{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
{% if result.vat is defined %}
    <p>Virksomheden "{{ result['name'] }}" med CVR-nummeret "{{ result['vat'] }}" er slettet!</p>
    <a href="/"><button>Tilbage til forsiden?</button></a>
{% elif result == 1 %}
    <p>CVR-nummeret eksisterer ikke!</p>
    <a href="/"><button>Tilbage til forsiden?</button></a>
{% else %}
    <h1>Indtast CVR til sletning:</h1>
    <form method="post" action="/sletvirksomhed/" onsubmit="return confirm('Er du sikker på at du vil slette virksomheden?')">
    <input type="text" name="CVR" required placeholder="Indtast CVR-nummer" pattern="^[0-9]{8,8}" title="8 tal" oninvalid="alert('CVR består af 8 tal...')" />
    <input type="submit" value="Slet" virksomhed>
  </form>
    <br />
    <a href="/"><button>Tilbage til forsiden?</button></a>
{% endif %}
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
