{% extends "base.html" %}
{% block title %}Success!{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
{% if business.vat is defined %}
    <h1>Success!</h1>
    <a href="/business/?VAT={{ business['vat'] }}"> <button>Explore the business with the VAT {{ business['vat'] }}</button></a>
    <br />
    <a href="/"> <button>Back to the front page?</button></a>
{% elif virk == 2 %}
    <h1>The business already exists in the system!</h1>
    <a href="/"> <button>Back to the front page?</button></a>
{% elif virk == 1 %}
    <h1>The business doesn't exist!</h1>
    <a href="/"> <button>Back to the front page?</button></a>
{% else %}
    <h1>Something went wrong......</h1>
    <a href="/"> <button>Back to the front page?</button></a>
{% endif %}
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
