{% extends "base.html" %}
{% block title %}Success!{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
{% if business is defined %}
    <h1>Success!</h1>
    <a href="/business/?VAT={{ business['vat'] }}"> <button class="btn btn-outline-primary my-2 my-sm-0">Explore the business</button></a>
    <br />
    <br />
    <a href="/"> <button class="btn  btn-outline-primary my-2 my-sm-0">Back to the front page?</button></a>
{% elif link is defined %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px;">
        <h1 class="display-4">Your route is ready!</h1>
        <br />
        <a href="{{ link }}" target="_blank"> <button class="btn  btn-outline-primary my-2 my-sm-0">See your route</button></a>
    </div>
{% elif err is defined %}
    <h1>An error occured:</h1>
    <p>{{ err }}</p>
    <a href="/"> <button class="btn  btn-outline-primary my-2 my-sm-0">Back to the front page?</button></a>
{% else %}
    <h1>Something went wrong...</h1>
    <p>Please contact us about it!</p>
    <a href="/"> <button class="btn  btn-outline-primary my-2 my-sm-0">Back to the front page?</button></a>
{% endif %}
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
